venv

family_chronicle/.env

family_chronicle/chronicle/__pycache__
family_chronicle/family_chronicle/__pycache__
family_chronicle/chronicle/static/chronicle/photos
family_chronicle/credentials.json
family_chronicle/service-account-key.json

*.pyc

