$primary-color: #f5c240;
$secondary-color: #012130;
$decorative-font: "Brush Script MT", cursive;


*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  color: #012130;
  background-color: #f5c240;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("2745401.jpg");
  background-size: cover;
}

a {
  color: black;
}

/* login form */
#title {
  font-size: 64px;
  text-align: center;
}

#login-form {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  border: 2px solid #f5c240;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 48px;
  color: #f5c240;
  cursor: default;
}

.login-btn {
  background-color: #012130;
  margin: 25px;
  padding: 15px;
  cursor: pointer;
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  color: #f5c240;
  border-radius: 15px;
  border: 2px groove #f5c240;
  transition-duration: 0.5s;
}

.login-btn:hover {
  background-color: #f5c240;
  color: #012130;
}

#username, #password {
  text-align: center;
  color: #f5c240;
  margin: 15px;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  outline: none;
  background-color: #012130;
  border: 1px solid #f5c240;
}

#username:focus, #password:focus {
  border: 2px solid #f5c240;
}

.messages {
  text-align: center;
  margin: 0;
  padding: 0;
}

.warning {
  font-family: "Brush Script MT", cursive;
  font-size: 32px;
  background-color: rgb(0, 10, 20);
  color: #f5c240;
  list-style-type: none;
  padding: 20px;
  border-bottom: 2px solid #f5c240;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #f5c240;
}

.close-btn:hover {
  color: darkgoldenrod;
}

/* main */
#container {
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 2px solid #f5c240;
  border-right: 2px solid #f5c240;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 900px) {
  #container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
#header {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #f5c240;
  background-color: rgb(0, 10, 20);
}

#header li h1 {
  margin: 0;
  padding: 10px;
  color: #f5c240;
}

#navbar {
  background-color: rgb(0, 10, 20);
}

.nav-items {
  border-bottom: 1px solid #f5c240;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-items a:link {
  text-decoration: none;
}

.nav-item, #logout {
  display: inline;
  padding: 25px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: "Brush Script MT", cursive;
  font-size: 26px;
  color: #f5c240;
}

.nav-item {
  float: left;
  border-right: 1px solid #f5c240;
}

#logout {
  float: right;
  border-left: 1px solid #f5c240;
}

.nav-item:hover, #logout:hover {
  background-color: #f5c240;
  color: black;
}

.dropdown {
  margin-top: 80px;
  border: 1px solid #f5c240;
}

#content {
  text-align: center;
}

/* create album form */
#album-creation {
  padding: 10px;
}

#album-creation h1 {
  margin: 0;
  padding: 30px;
}

#album-form {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  row-gap: 50px;
  column-gap: 10px;
  padding: 20px;
  color: #f5c240;
}

#album-form label {
  font-family: "Brush Script MT", cursive;
  font-size: 32px;
}

#album-form input, #album-form textarea, #album-form .users-list {
  text-align: center;
  color: #f5c240;
  font-family: "Brush Script MT", cursive;
  font-size: 32px;
  background-color: #012130;
  outline: none;
  border: 1px solid #f5c240;
  border-radius: 10px;
  padding: 5px;
  min-width: none;
  width: 100%;
}

#album-form input[type=file] {
  padding: 20px;
  font-size: 16px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  left: 0;
  cursor: pointer;
}

#album-form input[type=file] + label {
  float: left;
  transition-duration: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}

#album-form input[type=file] + label:hover {
  color: #012130;
  background-color: #f5c240;
}

#album-form .preview {
  height: 100px;
  width: 160px;
  margin: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}

#album-form .preview:hover {
  height: 180px;
  width: 280px;
}

#album-form .users-list {
  display: flex;
  flex-wrap: flex;
  overflow: scroll;
}

#album-form .users-list input[type=checkbox] {
  display: none;
}

#album-form .users-list p {
  color: rgb(184, 134, 11);
  font-size: 24px;
  padding: 10px;
}

#images-container {
  display: grid;
  grid-template-columns: auto;
}

/* resizing images preview */
@media (max-width: 750px) {
  #images-list {
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
  }
}
@media (max-width: 1150px) and (min-width: 751px) {
  #images-list {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
  }
}
@media (min-width: 1151px) and (max-width: 1450px) {
  #images-list {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
  }
}
@media (min-width: 1451px) and (max-width: 1700px) {
  #images-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
  }
}
@media (min-width: 1701px) {
  #images-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow: hidden;
  }
}
/* albums view */
#album-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.gallery-item {
  display: inline-block;
  float: left;
  padding: 30px;
  color: #f5c240;
  background-image: url("album_cover.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 280px;
  width: 140px;
  margin: 50px;
  padding: 10px;
  cursor: pointer;
}

.gallery-item p {
  font-family: "Brush Script MT", cursive;
  font-size: 28px;
}

.gallery-item:hover {
  opacity: 0.8;
}

/* album view */
#album-view {
  h1 {
      border-bottom: 1px solid #f5c240;
      max-width: 60vw;
      margin: auto;
      margin-bottom: 50px;
      padding: 30px;
  }
}

.carousel {
  position: relative;
  width: 79.6vw;
  height: 70vh;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media (max-width: 899px) {
  .carousel {
    width: 100vw;
  }
}

.slide {
  opacity: 0;
  inset: 0;
  position: absolute;
  transition: 200ms opacity ease-in-out;
  transition-duration: 200ms;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.slide[data-active-slide] {
  opacity: 1;
}

.carousel-btn-prev, .carousel-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 62px;
  margin: 0;
  color: $primary-color;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.carousel-btn-prev:focus, .carousel-btn-next:focus {
  color: darkgoldenrod;
} 

.carousel-btn-next {
  right: 0rem;
}

.carousel-btn-prev {
  left: 0rem;
}

.carousel-btn-prev:hover, .carousel-btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-picker {
  height: 30vh;
  overflow: scroll;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.miniature {
  display: inline-block;
  float: left;
  opacity: 0.6;
  cursor: pointer;
  img {
    height: 15vh;
    width: 19.8vw;
  }

  @media (min-width: 1200px) {
    img {
      width: 15.9vw;
    }
  }

  @media (max-width: 899px) {
    img {
      width: 24.8vw;
    }
  }

  @media (max-height: 600px) {
    img {
      height: 33vh;
    }
  }
}

.miniature[data-active-miniature] {
  opacity: 1;
}

.miniature:hover {
  opacity: 1;
}

.image-popup {
  position: fixed;
  display: none;
  padding: 1rem;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);

  span {
    float: right;
  }

  img {
    object-fit: auto;
    max-width: 100%;
    max-height: 100%;
  }

  body {
    position: fixed;
  }
}

.participants-list {
  list-style: none;
  height: 100px;
  overflow: scroll;
  margin: auto;
  padding: 0;
  max-width: 60vw;

  li {
    font-family: $decorative-font;
    font-size: 32px;
    color: $primary-color;
    float: left;
  }
}

/*contact panel */
.contact-panel {
  position: relative;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: #012130;
  color: #f5c240;
  padding: 10px;
  font-family: "Brush Script MT", cursive;
  border-top: 2px solid #f5c240;
}

.contact-panel h2 {
  font-size: 36px;
  padding: 10px;
  margin: 0;
}

.contact-panel p {
  font-size: 24px;
  padding: 10px;
  margin: 0;
}



/*# sourceMappingURL=styles.scss.map */
