{% extends 'chronicle/layout.html' %}

{% block body %}
    <div id="posts-view">
        <h1>Posts</h1>
    </div>

    <div id="albums-view">
        <h1>Albums</h1>
    </div>

    <div id="post-creation">
        <h1>Utworz Nowy Post</h1>
        <form id="post-form" action="">
            <label for="title">Tytul:</label>
            <input name="title" type="text">

            <label for="descripton">Opis:</label>
            <textarea name="description" rows="10" placeholder="Opcjonalnie"></textarea>
        </form>
    </div>
{% endblock %}