{% extends 'chronicle/layout.html' %}

{% block body %}
    <div id="albums-view">
        <h1>Albumy</h1>
        <ul id="album-gallery">
            {% for album in albums %}
                <li class="gallery-item" onclick="getAlbum('{{ album.id }}')">
                    <p>{{ album.title }}</p>
                </li>
            {% endfor %}
            </ul>
    </div>

    <div id="album-creation">
        <h1>Utworz Nowy Album</h1>
        <form action="{% url 'create_album' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="album-form">
                <label for="title">Tytul</label>
                {{ album_form.title }}

                <label for="images">Zdjecia</label>
                <div id="images-container">
                    <div>
                        <input type="file" id="images" name="images" onchange="previewImages()" multiple="multiple" accept="image/*">
                        <label for="images">Wybierz Zdjecia</label>
                    </div>
                    <br>
                    <div id="images-list"></div>
                </div>

                <label for="event_date">Data Wydarzenia</label>
                {{ album_form.event_date }}

                <label for="description">Opis Wydarzenia</label>
                {{ album_form.description }}

                <label for="participants-list">Uczestnicy</label>
                <div class="users-list">
                    {% for participant in album_form.participants %}
                        <p class="users">{{ participant }}</p>
                    {% endfor %}
                </div>

                <label for="editors">Edytujacy</label>
                <div class="users-list">
                    {% for contributor in album_form.contributors %}
                        <p class="users">{{ contributor }}</p>
                    {% endfor %}
                </div>
            </div>
            <input class="login-btn" type="submit" value="Stworz">
        </form>
    </div>

    <div id="album-view">
        <h1 data-header></h1>
        <section aria-label="Galeria Zdjec" id="image-galery">
            <div class="carousel" data-carousel>
                <button class="carousel-btn-prev" data-carousel-btn="prev">&#10577;</button>
                <button class="carousel-btn-next" data-carousel-btn="next">&#10575;</button>
                <ul data-slides></ul>
            </div>
            <div class="image-picker" data-image-picker>
                <ul data-miniatures></ul>
            </div>
        </section>
        <h1>Uczestnicy</h1>
        <ul class="participants-list" data-participants-list></ul>
    </div>

    <div id="my-albums">
        <h1>Moje Albumy</h1>
    </div>
    <div id="users-list">
        <h1>Czlonkowie Rodziny</h1>
    </div>
{% endblock %}